*.swp
*.*~
.vs/
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.pfx

# Build results
Releases/
[Dd]ebug/
[Dd]ebug/
[Pp]ublic/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
[Oo]ut/
_DEVEL/
_LIBS/
AppPackages/
packages/
src/*.aip
src/BundleArtifacts/*
src/BuildCert.ps1
msbuild.log
msbuild.err
msbuild.wrn
README.*.*
*.vssbe
