*.swp
*.*~
.vs/
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.pfx

# Build results
/bin/*
Releases/
[Dd]ebug/
[Dd]ebug/
[Pp]ublic/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
[Oo]ut/
_DEVEL/
_LIBS/
packages/
src/*.aip
msbuild.log
msbuild.err
msbuild.wrn
README.*.*
*.vssbe

/AppPackages/*
/docs/*.txt
/docs/*.ico
/src/*.aip
/src/BuildCert.ps1
/src/OneTouchMonitorRoot.pfx
/src/bin/*
/src/obj/*

